* {
  font-family: var(--font-nunito), sans-serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  -webkit-animation: bugfix infinite 1s;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-gutter: auto;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  position: relative;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-width: 1920px;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.main {
  flex: 1;
}

.margin-view-overlays {
  background-color: #eceff1;
}

.editor-scrollable-element {
  background-color: #3f51b5;
}

.editor-border {
  border: 1px solid #abb0ba;
}
