@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexCenterStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin flexCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flexStartBetween {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flexStartCenter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexStartEnd {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

@mixin flexEndStart {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

@mixin flexEndCenter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@mixin flexEndBetween {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@mixin flexEnd {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@mixin flexStretchBetween {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
